/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
}

.card {
  width: 80%;
  word-wrap: break-word;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
}

html, body {
  height: 100%
}

.container {
  padding-top: 20px
}

.content button {
    margin-right: 8px;
}
