<div class="container">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center" class="content" fxLayout="column">
        <mat-card class="card">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <h3>SignalR and Durable Functions demo</h3>
            </mat-card-title>
            <mat-card-content class="my-card-content">
                <mat-slide-toggle
                    class="toggle-margin"
                    color="primary"
                    (change)="onSlideToggleChange($event)"
                    [checked]="showConfiginfo">
                    Show config info
                </mat-slide-toggle>

                    <app-spinner-button (click)="signalrclicked()" [spinner]="signalrCounter > 0">SignalR</app-spinner-button>
                    <app-spinner-button (click)="durableFunctionClicked()" [spinner]="sequenceCounter > 0">Sequence</app-spinner-button>
                    <app-spinner-button (click)="suborchestratorClicked()" [spinner]="suborchestratorCounter > 0">Suborchestrator</app-spinner-button>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" *ngIf="showConfiginfo">
            <mat-card-content>
                    {{signalrinfoService.connectioninfo|json}}
            </mat-card-content>
        </mat-card>
        <ng-container *ngFor="let durableFunction of durableFunctions | keyvalue">
            <mat-card class="card" *ngIf="!durableFunction.value.closed">
                <mat-card-content>
                    id = {{durableFunction.value.id}}; <br/>
                    message = {{durableFunction.value.message}}
                    <span (click)="closeClicked(durableFunction.value.id)" class="close" *ngIf="durableFunction.value.progress == 100"><mat-icon inline="true">close</mat-icon></span>
                    <app-spinner-button
                        class="cancel"
                        *ngIf="durableFunction.value.cancellable && durableFunction.value.progress != 100"
                        [spinner]="durableFunction.value.cancelClicked"
                        (click)="cancelClicked(durableFunction.value.id)">Cancel</app-spinner-button>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="{{durableFunction.value.progress}}"></mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <mat-card class="card" *ngFor="let message of messages">
            <mat-card-content>{{message}}</mat-card-content>
        </mat-card>

    </div>
</div>
 <div>

 </div>
