<div class="container">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center" class="content" fxLayout="column">
        <mat-card class="card">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <h3>SignalR and Durable Functions demo</h3>
            </mat-card-title>
            <mat-card-content class="my-card-content">
                <mat-slide-toggle
                    class="toggle-margin"
                    color="primary"
                    (change)="onSlideToggleChange($event)"
                    [checked]="showConfiginfo">
                    Show config info
                </mat-slide-toggle>

                    <button mat-raised-button color="primary" (click)="signalrclicked()">SignalR</button>
                    <button mat-raised-button color="primary" (click)="durableFunctionClicked()">Sequence</button>
                    <button mat-raised-button color="primary" (click)="suborchestratorClicked()">Suborchestrator</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" *ngIf="showConfiginfo">
            <mat-card-content>
                    {{signalrinfoService.connectioninfo|json}}
            </mat-card-content>
        </mat-card>
        <mat-card class="card" *ngFor="let durableFunction of durableFunctions | keyvalue">
            <mat-card-content>
                id = {{durableFunction.value.id}}; <br/>
                message = {{durableFunction.value.message}}
                <button *ngIf="durableFunction.value.progress != 100" mat-raised-button color="primary" (click)="cancelClicked(durableFunction.value.id)">Cancel</button>
                <mat-progress-bar mode="determinate" value="{{durableFunction.value.progress}}"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" *ngFor="let message of messages">
            <mat-card-content>{{message}}</mat-card-content>
        </mat-card>

    </div>
</div>
 <div>

 </div>
