<div class="form-container">
        <a (click)="easyAuthLogin('aad')">
            <div class="signin-button">
                <img src="./assets/aad-icon.png" /><span class="signin-button-text">Sign in with Azure AD</span>
            </div>
        </a>

        <a (click)="easyAuthLogin('microsoftaccount')">
            <div class="signin-button">
                <img src="./assets/ms-icon.png" /><span class="signin-button-text">Sign in with Microsoft</span>
            </div>
        </a>
    </div>
