<div class="full-screen-outer">
    <div>
        <div class="floating">
            <app-spinner-button (click)="startMonitorClicked()" [spinner]="startMonitorCounter > 0 || waitingForFlightsData">Start</app-spinner-button>
            <app-spinner-button (click)="stopMonitorClicked()" [spinner]="stopMonitorCounter > 0">Stop</app-spinner-button>
        </div>
    </div>
    <x-map #xmap [Options]="_options" [Box]="_box" class="full-height">
            <my-canvas-layer #mycanvaslayer></my-canvas-layer>
    </x-map>
</div>
