<div class="container">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center" class="content" fxLayout="column">
      <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Fractal fan out!</h3>
          </mat-card-title>
          <mat-card-content class="my-card-content">
            <button mat-raised-button color="primary" (click)="startClicked()">Start fractal fan-out</button>
          </mat-card-content>
      </mat-card>

      <mat-card *ngIf="imageKeys.length > 0">
          Frame {{imageIndex}}
          <img src={{messages.get(imageKeys[imageIndex]).url}} />
      </mat-card>
      <!-- <mat-card class="card" *ngFor="let message of messages">
          <mat-card-content>
              <img src={{message.url}} width="30%" height="30%" />
              <p>{{message.text | json}}</p>
          </mat-card-content>
      </mat-card> -->
  </div>
</div>
