{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "AzureSignalRConnectionString": "<your Azure SignalR Service Connectionstring",
        "FunctionsAppCode": "<your functions authorization code>",
        "BingApiKey": "<your Bing Api Key>",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        // Cloud:
        // "FunctionsApp": "https://<yourfunctionsapp>.azurewebsites.net",
        // Local:
        "FunctionsApp": "http://localhost:7071"
    },
    "Host": {
        "CORS": "*"
    }
}